.calendar-section {
    background-color: #FFF8E8;
  }
  
  .calendar-section-vacation-text{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: -5px 0px 40px 0px;
    padding: 0;
    color: #F85600;
  }

  .calendar-section-container-text {
    display: flex;
    justify-content: center;
  }
  
  .calendar-section-phrase-text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #847758;
    margin-bottom: 40px;
    width: 60%;
    text-align: center;
  }
  
  .calendar-section-phrase-text span {
    font-weight: 500;
  }
  
  .calendar-section-dailys-text-value {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    color: #FFA901;
    margin-bottom: 40px;
  }
  
  .calendar-section-dailys-text-value span {
    color: #F85600;
    font-size: 60px;
    font-weight: 600;
  }
  
  .calendar-section-reservation-period-text {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    color: #FFA901;
  }

  .days-of-week {
    display: flex;
  }

  .day-week {
    flex: 1;
    text-align: center;
    color: #847758;
  }

  .days {
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    flex-basis: calc(100% / 7);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #F85600;
  }

  .calendar-btn {
    display: flex;
    justify-content: center;
  }

  .btn {
    background-color: #F85600;
    color: #FFFF;
    border-radius: 100px;
    width: 70%;
    font-size: 24px;
    font-weight: 600;
    padding-block: 12px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 150px;
  }

  .calendar {
    max-width: 400px;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .bg-conchas {
    position: absolute;
    width: 100%;
  }

  .bg-conchas img {
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    .calendar-section-phrase-text {
      width: 90%;
    }

    .bg-conchas {
      display: none;
    }
  }
  