.bg-container {
    background-color: #F85600;
    margin-top: -7px;
    display: flex;
    flex-direction: column;
}

.wave-img {
    margin-top: -5px;
    background-color: #F85600;
}

.wave-img img {
    width: 100%;
}

.footer-context-p {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFF;
    gap: 10px;
    padding: 20px;
    margin-top: 50px;
}

.privacy-policy {
    color: #FFFF;
    text-align: center;
    margin-right: 40px;
}

.copyright {
    text-align: center;
    color: #FFFF;
}

.amarante {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.line {
    display: flex;
    margin-top: 30px;
    width: 90%;
    border: 1px solid #FFFF;
}

.hr {
    display: flex;
    justify-content: center;
}

.privacy-policy-content {
    padding: 20px;
    display: flex;
    justify-content: center;
}


.logo-btn-socials {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.logo-btn-socials-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-amarante-content {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.btn-other-periods {
    display: flex;
    align-items: center;
}

.btn-other-periods button {
    background-color: #FFA901;
    color: #FFFF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 320px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
}

.socials {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.socials img {
    margin-top: 25px;
}

.text-footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 80px;
    align-items: baseline;
}


@media screen and (max-width: 1000px) {
    .privacy-policy-content {
        flex-direction: column;
    }

    .logo-btn-socials {
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .btn-other-periods {
        align-self: center;
    }

    .socials {
        align-self: center;
    }

    .logo-amarante-content {
        margin-left: 110px;
    }
}
